@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Poppins';
}
.blackheart
{
    width: 40px;
    margin-right: 1rem;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 0 25px;
}
nav{
    width: 600px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
}
#logo1
{
    padding: 20px;
    width:70px
}
#search
{
    width:40px;
    height: 20px;
    image-resolution: 5%;
}
#searchbar
{
    width:700px;
    height:20px;
    padding: 10px;
}
#sb
{
background-color: black;
color: white;
border-color: black;
font:14px poppins;
padding:10px;
}
#button
{
    padding: 10px;
    font:14px poppins;
    color:black;
    background-color: white;
}
#first h1
{
 font:80px Poppins sans-serif;
 margin: 54px 0px;
 color: #ffffff;
 widows: 750px;
 height: 200px;
}
#first
{
 background-image: url(./assets/b1.png);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
#first p
{
    font: 16px Arimo,sans-serif;
    color: white;
}
#first h2
{
    font:24px Poppins,sans-serif;
    margin: 20px 0px;
    color: white;
}
#s1b1
{
    font: 16px Poppins,sans-serif;
    background-color: #c12127;
    padding: 16px 32px;
    color: white;
}
#s1b2
{
    padding: 16px 32px;
    background-color: #e81aa8;
    color: white;
    font: 16px Poppins,sans-serif;
}
#second img
{
 width:90;
 height: 100;
 margin: 0px 200px 5px 32px;
}
#second h2{
    color: #333333;
    margin: 20px 0px;
    font:24px Poppins,sans-serif;
    width:512;
    height: 60;
}
#second p{
    font: 16px,Amino,sans-serif;
    color: #333333;
    width: 512;
    height:144;
}
#second
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#third img
{
   width: 68;
   height: 68;
}
#third h5{
    color: #000000;
    font: 16px Poppins,sans-serif;
    padding: 8px 32px;
}
#third .learn
{
    color: black;
    padding: 8px,32px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 55%;
    border-color: black;
}
#third,#fourth p
{
    color: #333333;
    font:14px Amino,sans-serif;
    margin: 0px 0px 0px 32px;
    text-align: center;
}
#third{
    padding: 16px 16px 64px;
    list-style: none;
    display: flex;
    text-align: center;
    flex-direction: column;
}
#fourth
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/b4.png);
    height: 500;
    width: 500;
}
#fifth
{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
}
#fourth,#fifth h2
{
    width:512;
    height: 30;
    font: 24px,Poppins,sans-serif;
    margin: 0px 0px 0px 20px;
}
#fifth img{
    widows: 400px;
}
#sixth li
{
 padding: 4px 0px;
 font:16px poppins;
 list-style: none;
}
#sixth h6{
    color:black;
    font: 17px poppins;
    margin: 17px 0px;
    font-weight: bold;
}
#sixth
{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    flex-direction: row;
}


    
